.plainoverlay:not(.plainoverlay-hide) #ex-070-progress div, .plainoverlay:not(.plainoverlay-hide) #ex-041-face, .plainoverlay:not(.plainoverlay-hide) #ex-010-win1-face > div, .plainoverlay:not(.plainoverlay-hide) #ex-010-p-face > div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.label {
  padding: 1px 3px;
  background-color: #ddd;
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
span.label {
  display: inline-block;
}

#ex-010-col {
  width: 40%;
  float: right;
  margin-left: 5px;
  padding-left: 10px;
  border-left: 2px solid #ddd;
}

#ex-010-p {
  margin-bottom: 5px;
}

#ex-010-p-face > div {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 100%;
}
.plainoverlay:not(.plainoverlay-hide) #ex-010-p-face > div {
  -webkit-animation: ex-010-p-face 1.4s infinite ease-in-out both;
          animation: ex-010-p-face 1.4s infinite ease-in-out both;
}
.plainoverlay:not(.plainoverlay-hide) #ex-010-p-face > div.bounce1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}
.plainoverlay:not(.plainoverlay-hide) #ex-010-p-face > div.bounce2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

@-webkit-keyframes ex-010-p-face {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes ex-010-p-face {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
#ex-010-div {
  margin-top: 15px;
  padding: 10px 5px;
  border-radius: 10px;
  background-color: #507cab;
  color: #fff;
}
#ex-010-div > div {
  height: 80px;
  overflow: auto;
}
#ex-010-div .label {
  background-color: #345592;
}

#ex-010-win1-face {
  width: 480px;
  height: 480px;
  position: relative;
}
#ex-010-win1-face > div {
  width: 57.6px;
  height: 57.6px;
  position: absolute;
  left: 211.2px;
  top: 0;
  background-color: #fff;
  border-radius: 50%;
}
.plainoverlay:not(.plainoverlay-hide) #ex-010-win1-face > div {
  -webkit-animation-name: ex-010-win1-face;
          animation-name: ex-010-win1-face;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-timing-function: cubic-bezier(0.85, 0.3, 0.15, 0.7);
          animation-timing-function: cubic-bezier(0.85, 0.3, 0.15, 0.7);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: 50% 240px;
}
.plainoverlay:not(.plainoverlay-hide) #ex-010-win1-face > div:nth-child(1) {
  -webkit-animation-delay: -1400ms;
          animation-delay: -1400ms;
}
.plainoverlay:not(.plainoverlay-hide) #ex-010-win1-face > div:nth-child(2) {
  -webkit-animation-delay: -1120ms;
          animation-delay: -1120ms;
}
.plainoverlay:not(.plainoverlay-hide) #ex-010-win1-face > div:nth-child(3) {
  -webkit-animation-delay: -840ms;
          animation-delay: -840ms;
}
.plainoverlay:not(.plainoverlay-hide) #ex-010-win1-face > div:nth-child(4) {
  -webkit-animation-delay: -560ms;
          animation-delay: -560ms;
}
.plainoverlay:not(.plainoverlay-hide) #ex-010-win1-face > div:nth-child(5) {
  -webkit-animation-delay: -280ms;
          animation-delay: -280ms;
}

@-webkit-keyframes ex-010-win1-face {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ex-010-win1-face {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#ex-010-win2-face {
  position: relative;
}
#ex-010-win2-face svg {
  display: block;
}
#ex-010-win2-face svg rect {
  fill: rgba(136, 136, 136, 0.6);
}
#ex-010-win2-face svg #ex-010-win2-clip path {
  fill: #fff;
}

#ex-010-win2-label {
  position: absolute;
  left: 3px;
  top: 3px;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: #287328;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.leader-line {
  z-index: 9100;
}

#ex-020 {
  clear: both;
  text-align: center;
}
#ex-020 > div {
  display: inline-block;
  width: 45%;
  margin: 10px;
  vertical-align: top;
  text-align: left;
}

#ex-020-textarea {
  width: 95%;
  height: 72px;
  resize: none;
}

#ex-020-table {
  margin-top: 5px;
  border: 1px solid #ccc;
  border-collapse: separate;
}
#ex-020-table td {
  width: 96px;
  height: 1em;
  padding: 2px;
  border: 1px solid #ccc;
  background-color: #fff;
}

#ex-020-iframe {
  width: 320px;
  height: 160px;
}

#ex-030-face {
  color: #fff;
  font-size: 5em;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.6);
}

#ex-041-face {
  width: 73.73px;
  height: 125.73px;
}
#ex-041-face .hourglass-glass {
  fill: #bbe5ea;
}
#ex-041-face .hourglass-sand {
  fill: #636889;
}
#ex-041-face .hourglass-light {
  fill: none;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}
#ex-041-face .hourglass-base {
  fill: none;
  stroke: #7c4c1c;
  stroke-width: 7.4815px;
  stroke-linecap: round;
}
.plainoverlay:not(.plainoverlay-hide) #ex-041-face {
  -webkit-animation-name: hourglass-spin;
          animation-name: hourglass-spin;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes hourglass-spin {
  80% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes hourglass-spin {
  80% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
#ex-070-progress,
#ex-070-progress div {
  height: 32px;
  border-radius: 16px;
}

#ex-070-progress {
  width: 480px;
  background-image: linear-gradient(#ddd 0, #ccc 100%);
  box-shadow: 3px 5px 10px 3px rgba(0, 0, 0, 0.3);
}

#ex-070-progress div {
  background-image: linear-gradient(#5ba8f9 0, #2c8ff7 50%);
}
.plainoverlay:not(.plainoverlay-hide) #ex-070-progress div {
  transition-property: width;
  transition-duration: 3s;
  transition-timing-function: linear;
}

#ex-070-count {
  color: #fff;
  font-size: 15em;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.6);
}