/* line 5, ex.scss */
.plainoverlay:not(.plainoverlay-hide) #ex-010-p-face > div, .plainoverlay:not(.plainoverlay-hide) #ex-010-win1-face > div, .plainoverlay:not(.plainoverlay-hide) #ex-041-face, .plainoverlay:not(.plainoverlay-hide) #ex-070-progress div {
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}

/* line 7, ex.scss */
.label {
  padding: 1px 3px;
  background-color: #ddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
/* line 13, ex.scss */
span.label {
  display: inline-block;
}

/* line 20, ex.scss */
#ex-010-col {
  width: 40%;
  float: right;
  margin-left: 5px;
  padding-left: 10px;
  border-left: 2px solid #ddd;
}

/* line 30, ex.scss */
#ex-010-p {
  margin-bottom: 5px;
}

/* line 34, ex.scss */
#ex-010-p-face > div {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 100%;
}
/* line 41, ex.scss */
.plainoverlay:not(.plainoverlay-hide) #ex-010-p-face > div {
  -moz-animation: ex-010-p-face 1.4s infinite ease-in-out both;
  -webkit-animation: ex-010-p-face 1.4s infinite ease-in-out both;
  animation: ex-010-p-face 1.4s infinite ease-in-out both;
}
/* line 44, ex.scss */
.plainoverlay:not(.plainoverlay-hide) #ex-010-p-face > div.bounce1 {
  -moz-animation-delay: -0.32s;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
/* line 45, ex.scss */
.plainoverlay:not(.plainoverlay-hide) #ex-010-p-face > div.bounce2 {
  -moz-animation-delay: -0.16s;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-moz-keyframes ex-010-p-face {
  0%,
  80%,
  100% {
    -moz-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes ex-010-p-face {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes ex-010-p-face {
  0%,
  80%,
  100% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* line 64, ex.scss */
#ex-010-div {
  margin-top: 15px;
  padding: 10px 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #507cab;
  color: #fff;
}
/* line 71, ex.scss */
#ex-010-div > div {
  height: 80px;
  overflow: auto;
}
/* line 76, ex.scss */
#ex-010-div .label {
  background-color: #345592;
}

/* line 86, ex.scss */
#ex-010-win1-face {
  width: 480px;
  height: 480px;
  position: relative;
}
/* line 91, ex.scss */
#ex-010-win1-face > div {
  width: 57.6px;
  height: 57.6px;
  position: absolute;
  left: 211.2px;
  top: 0;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 100, ex.scss */
.plainoverlay:not(.plainoverlay-hide) #ex-010-win1-face > div {
  -moz-animation-name: ex-010-win1-face;
  -webkit-animation-name: ex-010-win1-face;
  animation-name: ex-010-win1-face;
  -moz-animation-duration: 2000ms;
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -moz-animation-timing-function: cubic-bezier(0.85, 0.3, 0.15, 0.7);
  -webkit-animation-timing-function: cubic-bezier(0.85, 0.3, 0.15, 0.7);
  animation-timing-function: cubic-bezier(0.85, 0.3, 0.15, 0.7);
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-transform-origin: 50% 240px;
  -ms-transform-origin: 50% 240px;
  -webkit-transform-origin: 50% 240px;
  transform-origin: 50% 240px;
}
/* line 108, ex.scss */
.plainoverlay:not(.plainoverlay-hide) #ex-010-win1-face > div:nth-child(1) {
  -moz-animation-delay: -1400ms;
  -webkit-animation-delay: -1400ms;
  animation-delay: -1400ms;
}
/* line 109, ex.scss */
.plainoverlay:not(.plainoverlay-hide) #ex-010-win1-face > div:nth-child(2) {
  -moz-animation-delay: -1120ms;
  -webkit-animation-delay: -1120ms;
  animation-delay: -1120ms;
}
/* line 110, ex.scss */
.plainoverlay:not(.plainoverlay-hide) #ex-010-win1-face > div:nth-child(3) {
  -moz-animation-delay: -840ms;
  -webkit-animation-delay: -840ms;
  animation-delay: -840ms;
}
/* line 111, ex.scss */
.plainoverlay:not(.plainoverlay-hide) #ex-010-win1-face > div:nth-child(4) {
  -moz-animation-delay: -560ms;
  -webkit-animation-delay: -560ms;
  animation-delay: -560ms;
}
/* line 112, ex.scss */
.plainoverlay:not(.plainoverlay-hide) #ex-010-win1-face > div:nth-child(5) {
  -moz-animation-delay: -280ms;
  -webkit-animation-delay: -280ms;
  animation-delay: -280ms;
}

@-moz-keyframes ex-010-win1-face {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ex-010-win1-face {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ex-010-win1-face {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 124, ex.scss */
#ex-010-win2-face {
  position: relative;
}
/* line 127, ex.scss */
#ex-010-win2-face svg {
  display: block;
}
/* line 129, ex.scss */
#ex-010-win2-face svg rect {
  fill: rgba(136, 136, 136, 0.6);
}
/* line 130, ex.scss */
#ex-010-win2-face svg #ex-010-win2-clip path {
  fill: #fff;
}

/* line 134, ex.scss */
#ex-010-win2-label {
  position: absolute;
  left: 3px;
  top: 3px;
  padding: 3px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #287328;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

/* line 146, ex.scss */
.leader-line {
  z-index: 9100;
}

/* line 152, ex.scss */
#ex-020 {
  clear: both;
  text-align: center;
}
/* line 156, ex.scss */
#ex-020 > div {
  display: inline-block;
  width: 45%;
  margin: 10px;
  vertical-align: top;
  text-align: left;
}

/* line 167, ex.scss */
#ex-020-textarea {
  width: 95%;
  height: 72px;
  resize: none;
}

/* line 175, ex.scss */
#ex-020-table {
  margin-top: 5px;
  border: 1px solid #ccc;
  border-collapse: separate;
}
/* line 180, ex.scss */
#ex-020-table td {
  width: 96px;
  height: 1em;
  padding: 2px;
  border: 1px solid #ccc;
  background-color: #fff;
}

/* line 191, ex.scss */
#ex-020-iframe {
  width: 320px;
  height: 160px;
}

/* line 198, ex.scss */
#ex-030-face {
  color: #fff;
  font-size: 5em;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.6);
}

/* line 208, ex.scss */
#ex-041-face {
  width: 73.73px;
  height: 125.73px;
}
/* line 212, ex.scss */
#ex-041-face .hourglass-glass {
  fill: #bbe5ea;
}
/* line 216, ex.scss */
#ex-041-face .hourglass-sand {
  fill: #636889;
}
/* line 220, ex.scss */
#ex-041-face .hourglass-light {
  fill: none;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}
/* line 227, ex.scss */
#ex-041-face .hourglass-base {
  fill: none;
  stroke: #7c4c1c;
  stroke-width: 7.4815px;
  stroke-linecap: round;
}
/* line 234, ex.scss */
.plainoverlay:not(.plainoverlay-hide) #ex-041-face {
  -moz-animation-name: hourglass-spin;
  -webkit-animation-name: hourglass-spin;
  animation-name: hourglass-spin;
  -moz-animation-duration: 2000ms;
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-moz-keyframes hourglass-spin {
  80% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@-webkit-keyframes hourglass-spin {
  80% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes hourglass-spin {
  80% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
/* line 250, ex.scss */
#ex-070-progress,
#ex-070-progress div {
  height: 32px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}

/* line 256, ex.scss */
#ex-070-progress {
  width: 480px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(#dddddd 0%, #cccccc 100%);
  background-image: -webkit-linear-gradient(#dddddd 0%, #cccccc 100%);
  background-image: linear-gradient(#dddddd 0%, #cccccc 100%);
  -moz-box-shadow: 3px 5px 10px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 5px 10px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 5px 10px 3px rgba(0, 0, 0, 0.3);
}

/* line 265, ex.scss */
#ex-070-progress div {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViYThmOSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMmM4ZmY3Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5ba8f9), color-stop(50%, #2c8ff7));
  background-image: -moz-linear-gradient(#5ba8f9 0%, #2c8ff7 50%);
  background-image: -webkit-linear-gradient(#5ba8f9 0%, #2c8ff7 50%);
  background-image: linear-gradient(#5ba8f9 0%, #2c8ff7 50%);
}
/* line 271, ex.scss */
.plainoverlay:not(.plainoverlay-hide) #ex-070-progress div {
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
  -moz-transition-duration: 3s;
  -o-transition-duration: 3s;
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

/* line 279, ex.scss */
#ex-070-count {
  color: #fff;
  font-size: 15em;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.6);
}
