/* line 5, default.scss */
.plainoverlay, .plainoverlay:not(.plainoverlay-hide) .plainoverlay-builtin-face_01 {
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}

/* line 23, default.scss */
.plainoverlay {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(136, 136, 136, 0.6);
  cursor: wait;
  z-index: 9000;
}
/* line 39, default.scss */
.plainoverlay.plainoverlay-doc {
  position: fixed;
  left: -200px;
  top: -200px;
  overflow: visible;
  padding: 200px;
  width: 100vw;
  height: 100vh;
}

/* line 50, default.scss */
.plainoverlay-body {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 54, default.scss */
.plainoverlay.plainoverlay-doc .plainoverlay-body {
  width: 100vw;
  height: 100vh;
}

/* line 64, default.scss */
.plainoverlay-show {
  opacity: 1;
}

/* line 68, default.scss */
.plainoverlay-hide {
  display: none;
}

/* line 72, default.scss */
.plainoverlay-builtin-face {
  width: 90%;
  height: 90%;
  max-width: 320px;
  max-height: 320px;
}

/* line 79, default.scss */
#plainoverlay-builtin-face-defs {
  width: 0;
  height: 0;
  position: absolute;
  left: -100px;
  top: -100px;
}

/* line 89, default.scss */
#plainoverlay-builtin-face_01 circle {
  fill: #fff;
  opacity: 0.25;
}
/* line 94, default.scss */
#plainoverlay-builtin-face_01 path {
  fill: none;
  stroke-width: 4px;
  stroke-linecap: round;
  /* Gecko bug, `url()` in outer stylesheet of the `svg` doesn't work. */
}

/* line 103, default.scss */
.plainoverlay:not(.plainoverlay-hide) .plainoverlay-builtin-face_01 {
  -moz-animation-name: plainoverlay-builtin-face_01-spin;
  -webkit-animation-name: plainoverlay-builtin-face_01-spin;
  animation-name: plainoverlay-builtin-face_01-spin;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-moz-keyframes plainoverlay-builtin-face_01-spin {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes plainoverlay-builtin-face_01-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes plainoverlay-builtin-face_01-spin {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
